{{define "title"}}About{{end}}
{{define "main"}} <h2>About</h2>
<p>Welcome to Snippet Box, where you can easily store, share, and collaborate on text-based information. Paste your text, create a unique URL, and share it with others. Enjoy hassle-free collaboration and secure data privacy. Get started today! </p>
{{end}}